# Assignment 3
# Q1
Write programs using lists in python
1. Reverse a given list in Python
aLsit = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [14]:
value = input("Enter the elements in list using comma separator:  ")
a= value.split(",")
b=list()
for i in range(len(a)):
    b.append(int(a[i]))
    # a=int(a)
    #print(b)
b.sort(reverse=True)
print(b)

Enter the elements in list using comma separator:  2,56,4,3,5,67,89,087,56
[89, 87, 67, 56, 56, 5, 4, 3, 2]

# Q2
Concatenate two lists index-wise
Given:
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]
output:
['My', 'name', 'is', 'Rajesh']

In [21]:
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]
list3 = []
for i in range(len(list1)):
     list3.append(list1[i]+list2[i])

print(list3)
# for i in range(len(list1)):
#     list3[i]=list1[i]+list2[i]

['My', 'name', 'is', 'Rajesh']

['My', 'name', 'is', 'Rajesh']

# Q3
Given a Python list of numbers. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]
output:
[1, 4, 9, 16, 25, 36, 49]

In [22]:
list1 = [1, 2, 3, 4, 5, 6, 7]
for i in range(len(list1)):
    list1[i] = list1[i]*list1[i]
print(list1)

[1, 4, 9, 16, 25, 36, 49]

# Q4
Concatenate two lists in the following order
list1 = ["Hello ", "Welcome "]
list2 = ["Students", "Sir"]
output:
['Hello Students ', 'Hello Sir', 'welcome Students ', 'Welcome Sir']

In [24]:
list1 = ["Hello ", "Welcome "]
list2 = ["Students", "Sir"] 
list3=[]

for i in range(len(list1)):
    for j in range(len(list2)):
        list3.append(list1[i]+list2[j])
print(list3)

['Hello Students', 'Hello Sir', 'Welcome Students', 'Welcome Sir']

# Q5
Given a two Python list. Iterate both lists simultaneously such that list1 should display item
in original order and list2 in reverse order
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [28]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list2.sort(reverse=True)
for i in range(len(list1)):
    print(list1[i],list2[i])

10 400
20 300
30 200
40 100

# Q6
Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [71]:
list1 = ["","Ashish", "", "Atharva","", "Amit", "", "Revati",""]
# print(dir(list))
# a= list1.count("")
# print(a)
# for i in range(len(list1)-a+1):
#     if list1[i]=="":
#         list1.pop(i)
# list1

list2 = [""]
num = [i for i in list1 if i not in list2]
print(num)

['Ashish', 'Atharva', 'Amit', 'Revati']

# Q7
Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [67]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Q8
Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look
like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [64]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Q9
Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only
update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [63]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i] == 20:        
        list1[i]=200
        break
list1

[5, 10, 15, 200, 25, 50, 20]

# Q10
Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [68]:
list1 = [5, 20, 15, 20, 25, 50, 20]
#a = list.count(20)
# a=len(list1)
# count=0
# for i in range(a):
#     if list1[i]==20:
#         count=count+1
# for i in range(a-count+1):
#     if list1[i]==20:
#         list1.pop(i)
# print(list1)

list2 =[20]
num = [i for i in list1 if i not in list2]
print(num)

[5, 15, 25, 50]

# Assignment 3 String From Q6
Find all occurrences of “USA” from right to left in a given string ignoring the case. also display the
starting position
Given:
str1 = "Welcome to USA. usa awesome, isn't it?
Expected answer : 16, 11

In [139]:
str1 = "Welcome to USA. usa awesome, isn't it?"
s1 = str1.upper()
a = s1.count("USA")
print(a)

2

#  Q7
Find all overlapping occurrences of given substring in given string
Ex.
String = 0111
Substring = 11
Expected answer : 2
String : ANANAAAANNN
Substring: ANA
Expected answer : 2
String : ANANAAAANNN
Substring: AA
Expected answer : 3

In [78]:
s1 = 'ANANAAAANNN'
s2 = 'AN'
l1 = []
for i in range(len(s1)-1):
    l1.append(s1[i]+s1[i+1])
a = l1.count(s2)
print(l1)
print(a)

['AN', 'NA', 'AN', 'NA', 'AA', 'AA', 'AA', 'AN', 'NN', 'NN']
3

# Q9
9. Find all mobile number mentioned in given paragraph of text
Mobile number is always a 10 digit number no spaces no special characters
Ex. Input= “this is a good number 9089786756 and 8900000000 is a desired number”
Expected output: 9089786756 , 8900000000

In [96]:
s1 = "this is a good number 9089786756 and 8900000000 is 987456m123  a 908978676 desired number"
a = s1.split()
print(a)
b=[]
flag=True
for i in range(len(a)):
   # print(a[i])
    if len(a[i])==10:
        for j in range(len(a[i])):
            if ord(a[i][j])>47 and ord(a[i][j])<58:
                flag=True
            else:
                flag=False
                break
        if flag==True:
            b.append(a[i])
print(b)
   # print(a[i])

['this', 'is', 'a', 'good', 'number', '9089786756', 'and', '8900000000', 'is', '987456m123', 'a', '908978676', 'desired', 'number']
['9089786756', '8900000000']

# Q10
Count occurrence of spaces, and special characters in given string
Ex.
Input: Fgh^f #89
Expected output :
Spaces: 1
Special characters: 2

In [110]:
s1 = 'Fgh^f #89ejfkl485948sdnfk46$@#2'
a=s1.count(' ')
print("Spaces:",a)
cnt=0
s2=s1.upper()
for e in range(len(s1)):
    if ((ord(s2[e])>=65 and ord(s2[e])<=90 or ord(s2[e])==32) or (ord(s2[e])>=48 and ord(s2[e])<=57)):
        continue
    else:
        cnt=cnt+1
#         print(s2[e])
        
print("Special Character: ",cnt)

Spaces: 1
Special Character:  5

# Q11

Given a paragraph count number of words, sentences. Every sentence ends with either . or ? or !
Print Count of how many normal sentences ending with . , how many interrogative sentences ( ending
with ?) and how many exclamatory sentences ( ending with !).
Ex.
Input : “I am at CDAC. What about you? I am surprised by current weather!”
Normal sentence : 1
Interrogative: 1
Exclamatory : 1

In [124]:
s1='I am at CDAC. What about you? I am surprised ? by current weather!'
a =s1.split()
count= 0
qcnt=0
ecnt=0
# print(a)
for i in a:
    if i.endswith("."):
        count= count+1
    elif i.endswith("!"):
        ecnt=ecnt+1
    elif i.endswith("?"):
        qcnt=qcnt+1
print("Normal sentence:",count)   
print("Exclamatory:",ecnt)
print("Interrogative:",qcnt)

Normal sentence: 1
Exclamatory: 1
Interrogative: 2

# Q12
You are given a string S and width w.
Your task is to wrap the string into a paragraph of width w

Example .
String : “ABCDEFGHIJKLIMNOQRSTUVWXYZ”
Width: 4
Output:
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [133]:
str1="ABCDEFGHIJKLIMNOQRSTUVWXYZ"
cnt=0
for e in range(len(str1)):
    if cnt==4:
        print("",end="\n")
        cnt=0
    print(str1[e],end="")
    cnt=cnt+1

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ