# Q1
Write programs using lists in python
1. Reverse a given list in Python
aLsit = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [2]:
aLsit = [100, 200, 300, 400, 500] 
rlist=aLsit[::-1]
rlist

[500, 400, 300, 200, 100]

# Q 2
Concatenate two lists index-wise
Given:
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]

In [7]:
list1 = ["M", "na", "i", "Raj"]
list2 = ["y", "me", "s", "esh"]

list3=[]
for e in range (len(list1)):
    list3.append(list1[e]+list2[e])
print(list3)

['My', 'name', 'is', 'Rajesh']

# Q 3
Given a Python list of numbers. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]
output:
[1, 4, 9, 16, 25, 36, 49]

In [12]:
aList = [1, 2, 3, 4, 5, 6, 7] 
b=map(lambda x:x**2,aList)
print(list(b))

[1, 4, 9, 16, 25, 36, 49]

# Q4
Concatenate two lists in the following order
list1 = ["Hello ", "Welcome "]
list2 = ["Students", "Sir"]
output:
['Hello Students ', 'Hello Sir', 'welcome Students ', 'Welcome Sir']

In [17]:
list1 = ["Hello ", "Welcome "]
list2 = ["Students", "Sir"]
list3=[]
for e in range(len(list1)):
    for j in range(len(list2)):
        list3.append(list1[e]+list2[j])
print(list3)

['Hello Students', 'Hello Sir', 'Welcome Students', 'Welcome Sir']

# Q5
Given a two Python list. Iterate both lists simultaneously such that list1 should display item
in original order and list2 in reverse order
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [27]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list3=[]
b=len(list2)-1
for e in range(len(list1)):
    list3.append(list1[e])
    list3.append(list2[b])
    b=b-1

print(list3)

[10, 400, 20, 300, 30, 200, 40, 100]

# Q6
Remove empty strings from the list of strings

list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [28]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
list2=[]
for e in range(len(list1)):
    if len(list1[e])!=0:
        list2.append(list1[e])
print(list2)

['Ashish', 'Atharva', 'Amit', 'Revati']

# Q7
Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [33]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Q8
Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look
like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

solution

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

In [35]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2= ["h", "i", "j"]
list1[2][1][2].extend(list2)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Q9
Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only
update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [50]:
list1 = [5, 10, 15, 20, 25, 50, 20]

for e in range(len(list1)):
    if list1[e]==20:
        list1.remove(list1[e])
        list1.insert(e,200)
        break

print(list1)

[5, 10, 15, 200, 25, 50, 20]

# Q10
Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [62]:
list1 = [5, 20, 15, 20, 25, 50, 20]
list2=[20]
a=[list1[i] for i in range(len(list1)) if list1[i] not  in list2]
print(a)

[5, 15, 25, 50]
[5, 15, 25, 50]