# Q.1
Q Sort all the numbers in a list in descending order using lambda function

In [7]:
li=[1,2,3,4,5,6]
li.sort(key=(lambda x:-x))
print(li)

[6, 5, 4, 3, 2, 1]

# Q.2
Q Sort all the characters of given string using lambda function

In [12]:
li=['a','b','c','d','e','z','y']
li.sort(key=(lambda x:-ord(x)))
print(li)

['z', 'y', 'e', 'd', 'c', 'b', 'a']

# Q.3
Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [19]:
li=['vijay','mandaa','saurabh','sagar','kaustubh']
li.sort(key=(lambda x:x[len(x)-1]))
print(li)

['mandaa', 'saurabh', 'kaustubh', 'sagar', 'vijay']

NameError: name 'i' is not defined

# Q.3
using Normal Function

SyntaxError: invalid syntax (1202667155.py, line 2)

# Q.4
 Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [26]:
li=['vijay','jby','mkndar','saurabh','kdustubh','kustubh']
bi=set(li)
li=list(bi)
li.sort(key=(lambda x:x[1]))
print(li)

['saurabh', 'jby', 'kdustubh', 'vijay', 'mkndar', 'kustubh']

# Q5
Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id .

In [33]:
li={'vijay':123,'mandar':147,'sagra':963,'Tejas':789,'keshav':28}
bi=list(li.items())
bi.sort(key=(lambda x:x[1]))
ci=dict(bi)
print(ci)

{'keshav': 28, 'vijay': 123, 'mandar': 147, 'Tejas': 789, 'sagra': 963}

# Q.5
Also print all employees in alphabetical order by name.

In [34]:
li={'vijay':123,'mandar':147,'sagra':963,'Tejas':789,'keshav':28}
bi=list(li.items())
bi.sort(key=(lambda x:x[0]))
ci=dict(bi)
print(ci)

{'Tejas': 789, 'keshav': 28, 'mandar': 147, 'sagra': 963, 'vijay': 123}

# Q.6
 Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [39]:
str1=input("Enter Input With comma separated values")
li=str1.split(",")

ci=map(lambda x:float(x),li)
print(list(ci))

Enter Input With comma separated values1,2,3,4,5,6,7,9
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0]

# Q.7
 Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [2]:
li=[1.0,2.0,3.4,6.4,7.6,8.2]
d=map(lambda x:str(x),li)
# print(list(d))
a="|".join(list(d))
print(a)

1.0|2.0|3.4|6.4|7.6|8.2

# Q.8
Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [1]:
li=[1,2,3,4,5,7,8]
li=map(lambda x:x**2,li)
print(list(li))

[1, 4, 9, 16, 25, 49, 64]