# Question 1:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints: 
Consider use range(#begin, #end) method

In [14]:
list1=[]
def find7(start,end):
    for e in range(start,end+1):
        if e%7==0 and e%5!=0:
            list1.append(e)

In [22]:
find7(2000,3200)
#print(list1)
x=map(lambda x:str(x),list1)
#print(list(x))

li=",".join(x)
print(li)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question2:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program: 8
Then, the output should be:
40320
Hints:In case of input data being supplied to the question, it should be assumed to be a console input.

In [78]:

def factorial(num):
    fact=1 
    if(num==1):
        return 1
    else:
        return num*factorial(num-1)

In [85]:
a=factorial(8)
a
b=map(lambda x:x,str(a))
val=",".join(b)
print(val)

4,0,3,2,0

# Question 3:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program: 8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [87]:
def createDic(num):
    dic={}
    for e in range(1,num+1):
        dic[e]=e*e
    print(dic)

In [88]:
createDic(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Question 4:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be: 1010
Notes: Assume the data is input by console.
Hints:In case of input data being supplied to the question, it should be assumed to be a console input.

In [239]:
#input1 = input("Enter comma Seprated value")
#input2=input1.split(",")
input1='0100,0011,1010,1001,1111'
li2=[]
li1=input1.split(",")
print(li1)
for e in li1:
    if int(e,2) % 5==0:
        li2.append(e)

li3=",".join(li2)
print(li3)

['0100', '0011', '1010', '1001', '1111']
1010,1111

In [238]:
a=int('1100',2)
a

12

# Question 5:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [245]:
def evenno(start,end):
    even=[]
    for e in range(start,end+1):
        if(e%2==0):
            even.append(e)
    a=map(lambda x:str(x),even)
    #print(list(a))
    ev1=",".join(a)
    print(ev1)

In [246]:
evenno(1,100)

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

# Question6:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [123]:
def acceptsen(sen):
    ncnt=0
    wcnt=0
    sen=sen.upper()
    for e in sen:
        if ord(e) >=48 and ord(e)<=58:
            ncnt=ncnt+1
        elif ord(e)>=65 and ord(e)<=91:
            wcnt=wcnt+1
    print("Letters :",wcnt)
    print("Digits :",ncnt)

In [124]:
acceptsen("hello my123 name is vijay")

Letters : 18
Digits : 3

# Question 7:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9
Hints:In case of input data being supplied to the question, it should be assumed to be a console input.

In [129]:
def calUL(sen):
    ucnt=0
    lcnt=0
    for e in sen:
        if e.isupper():
            ucnt=ucnt+1
        elif e.islower():
            lcnt=lcnt+1
    print("Upper Case :",ucnt)
    print("Lower Case :",lcnt)

In [131]:
calUL("VIjay pawar")

Upper Case : 2
Lower Case : 8

# Question 8:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500
Hints:In case of input data being supplied to the question, it should be assumed to be a console input.

In [304]:
sen="D 300 D 300 W 200 D 100"\
#sen=input("Enter String")
li=sen.split(" ")
sum1=0
finalTotal=0
for e in range(len(li)):
    if li[e] == "D":
        sum1=sum1+int(li[e+1])
    elif li[e] == "W":
        sum1=sum1-int(li[e+1])

print(sum1)

Enter StringD 300 D 300 W 200 D 100
500

# Question 9:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1
Hints:In case of input data being supplied to the question, it should be assumed to be a console input.

In [14]:
import re
def passwd(pass1):
    str2=" "
    li=pass1.split(",")
    for pass2 in li:
        if len(pass2) <6 or len(pass2)>12 or str2 in pass2:
            continue
        elif re.findall("[a-z]",pass2) and re.findall("[0-9]",pass2) and re.findall("[A-Z]",pass2) and re.findall("[$#@]",pass2):
            print(pass2,"Valid")

In [16]:
passwd("ABc$234@1,a F1#,2w3E*,2We3345")

ABc$234@1 Valid

# Question 10:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91

In [295]:
from operator import itemgetter

tu=()
tu=(('tom',19,80) ,('aohn',20,90) ,('zony',17,85),('a',2,75),('d',8,96))
li=list(tu)
print(li)

sorted(li,key=itemgetter(0,1,2),reverse=False)

[('tom', 19, 80), ('aohn', 20, 90), ('zony', 17, 85), ('a', 2, 75), ('d', 8, 96)]

[('a', 2, 75),
 ('aohn', 20, 90),
 ('d', 8, 96),
 ('tom', 19, 80),
 ('zony', 17, 85)]

# Question 11:
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [273]:
def robot(str1):
    ver=0
    hor=0
    dist=0
    li=str1.split(" ")
    for e in range(len(li)):
        if li[e]=="UP":
            ver=ver+int(li[e+1])
        elif li[e]=="DOWN":
            ver=ver-int(li[e+1])
        elif li[e]=="LEFT":
            hor=hor+int(li[e+1])
        elif li[e]=="RIGHT":
            hor=hor-int(li[e+1])
    dist=(hor**2+ver**2)**0.5
    print(dist)

In [274]:
robot("UP 5 DOWN 3 LEFT 3 RIGHT 2")

2.23606797749979

# Question 12:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. 
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1
Hints
In case of input data being supplied to the question, it should be assumed to be a console input.

In [309]:
import re
str1="New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."

li1=str1.split(" ")
li2=set(li1)

li2=list(li2)
li2.sort()
dic={}

for e in range(len(li2)):
    x=re.findall(li2[e],str1)
    #print(li2[e])
    dic[li2[e]]=len(x)

print(dic)

{'2': 2, '3.': 2, '3?': 84, 'New': 1, 'Python': 5, 'Read': 1, 'and': 1, 'between': 1, 'choosing': 1, 'or': 2, 'to': 1}

# Question 13:
Question:
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.
Hints:Use len() function to get the length of a string

In [264]:
str1="vijay"
str2="jay"
#tr1=input("enter string 1")
#tr2=input("Enter String 2")
def strcount(str1,str2):
    if len(str1)==len(str2):
        print(str1,"\n",str2)

In [265]:
strcount("vijay dkjmkldk  dnef","vijay dkjmkldk  dnef")

vijay dkjmkldk  dnef
 vijay dkjmkldk  dnef

# Question 14:
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.
Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.

In [351]:
list1=list(range(1,21))
dic={}
#print(list1)

for e in list1:
    dic[e]=e**2
print(dic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

# Question 15:
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

Hints:
Use map() to generate a list.
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [251]:
li=[1,2,3,4,5,6,7,8,9,10]

eli=map(lambda x:x**2,filter(lambda x:x%2==0,li))
print(list(eli))

oli=map(lambda x:x**2,filter(lambda x:x%2!=0,li))
print(list(oli))

[4, 16, 36, 64, 100]
[1, 9, 25, 49, 81]

# Question 16:
Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

Hints:
To override a method in super class, we can define a method with the same name in the super class.

In [ ]:
class shape:
    def area(side):
        return side*side
    class square:
        

class square:

# Question 17:
Write a function to compute 5/0 and use try/except to catch the exceptions.

Hints:

Use try/except to catch exceptions.

In [352]:
def excepti1():
    try:
        print(5/0)
    except ZeroDivisionError:
        print("Divide by zero error")

In [353]:
excepti1()

Divide by zero error