In [1]:
li=['Can', 'match' ,'any' ,'character' ,'excep']
print(li)

['Can', 'match', 'any', 'character', 'excep']

# Search the string to see if it starts with "The" and ends with "Spain":

In [11]:
import re

txt="The rain in spain"
x=re.search("^The",txt)
print(x)

x=re.search("r..n",txt)
print(x)

<re.Match object; span=(0, 3), match='The'>
<re.Match object; span=(4, 8), match='rain'>

In [50]:
txt ="python is acd high-levelc, adcf general-purpose programming language."
b=re.findall("^[a-p]",txt)
print(b)

['p']

In [54]:
b=re.findall("age.$",txt)
print(b)
list1=txt.split(" ")
print(list1)

['age.']
['python', 'is', 'acd', 'high-levelc,', 'adcf', 'general-purpose', 'programming', 'language.']

In [102]:
txt1="python is acd high-levelc, adcf general-purpose pgramming language."
b=re.findall("p",txt1)
print(txt)
print(b)

he1o planet
['p', 'p', 'p', 'p']

In [91]:
print(txt1)
x=re.findall(".+e",txt1)
print(x)

python is acd high-levelc, adcf general-purpose pgramming language.
['python is acd high-levelc, adcf general-purpose pgramming language']

In [99]:
txt = "hello planet"
x=re.findall("pla.+",txt)
print(x)

['planet']

In [101]:
txt = "he1o planet"
#Search for a sequence that starts with "he",
#followed by 0 or 1  (any) character, and an "o":

x = re.findall("he[0-1]o", txt)
print(x)

['he1o']

# Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [109]:
import re
str1="hello my name is vijayY"

x=re.findall("[a-z]|[A-Z]",str1)
print(x)

['h', 'e', 'l', 'l', 'o', 'm', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'v', 'i', 'j', 'a', 'y', 'Y']

# 2. Write a Python program that matches a string that has an a followed by zero or more b's.

In [113]:
str1="hello my name is vijayY knam0 janambbbb"
x=re.findall("nam[0]|namb*",str1)
print(x)

['nam', 'nam0', 'nambbbb']

# 3. Write a Python program that matches a string that has an a followed by one or more b's.

In [118]:
str1="hello my name is vijayY knam0 janambbbb kjsdhnambsf ddjdjnamsdb"
x=re.findall("namb+",str1)
print(x)

['nambbbb', 'namb']

# 4. Write a Python program that matches a string that has an a followed by zero or one 'b'.

In [137]:
str1="hello mya0 name is vijayY knam0 janambbbb kjsdhnambsf ddjdjnamsdb sdhsab abbbb"
#x=re.findall("0+ | b??",str1)
x=re.findall("a[0]|a[b]",str1)
print(x)

['a0', 'ab', 'ab']

# 5. Write a Python program that matches a string that has an a followed by three 'b'

In [150]:
str1="hello mya0 name is vijayY knam0 janambbbb kjsdhnambsf ddjdjnamsdb sdhsab abbbb"
x=re.findall("b{3}",str1)
print(x)

['bbb', 'bbb']

# 6. Write a Python program that matches a string that has an a followed by two to three 'b'

In [153]:
str1="hello mya0 name is vijayY knam0 janambbb fgfdgbb kjsdhnambsf ddjdjnamsdb sdhsab abbbb"
x=re.findall("b{2,3}",str1)
print(x)

['bbb', 'bb', 'bbb']

# 7. Write a Python program to find sequences of lowercase letters joined with a underscore

In [157]:
str1="hello mya0 _name is vijayY knam0 janambbb fgfdgbb kj_sdhnambsf ddjdjnamsdb sdhsab abbbb"
x=re.findall("_[a-z]+",str1)
print(x)

['_name', '_sdhnambsf']

# 8. Write a Python program to find the sequences of one upper case letter followed by lower case letters

In [159]:
str1="hello mya0 _name is vijayY knam0 janambbb Afdhfjjfdgj fgfdgbb kj_sdhnambsf ddjdjnamsdb sdhsab abbbb"
x=re.findall("[A-Z][a-z]+",str1)
print(x)

['Afdhfjjfdgj']

# 9. Write a Python program that matches a string that has an 'a' followed by anything, ending in 'b'

In [169]:
str1="hello my _name is vijayY knam0 janambbb Afdhfjjfdgj fgfdgbb kj_sdh ahjhjbd nambsf ddjdjnamsdb sdhsab abbbb"
x=re.findall("a.*b$",str1)
print(x)

['ame is vijayY knam0 janambbb Afdhfjjfdgj fgfdgbb kj_sdh ahjhjbd nambsf ddjdjnamsdb sdhsab abbbb']

#  10. Write a Python program that matches a word at the beginning of a string.

In [172]:
str1="my name is vijay pawar"
x= re.search("^myy",str1)
print(x)

None

# 11. Write a Python program that matches a word at the end of string, with optional punctuation

In [176]:
str1="my name is vijay pawar"
x=re.findall("ar$",str1)
print(x)

['ar']

# 12. Write a Python program that matches a word containing 'z'.

In [178]:
str1="my name is vijayzz pzawar"
x=re.search("z",str1)
print(x)

<re.Match object; span=(16, 17), match='z'>

# 13. Write a Python program that matches a word containing 'z', not at the start or end of the word.

In [180]:
str1="my name is vijayz pzawar"
x=re.findall(".z.",str1)
print(x)

['yz ', 'pza']

# Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [8]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[]
for e in list1:
    if e%2==0:
        list2.append(e**2)
print(list2)
x=map(lambda x:x**2,filter(lambda x:x%2==0 , list1))
print(list(x))

[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

In [2]:
import pandas as pd

In [3]:
df1={"class1":['vijay','Mandar','Saurabh','Tejas'],'class2':['Sagar','Kaustubh','raj','Akash']}

In [4]:
df1

{'class1': ['vijay', 'Mandar', 'Saurabh', 'Tejas'],
 'class2': ['Sagar', 'Kaustubh', 'raj', 'Akash']}

In [9]:
import pandas as pd
df2=pd.DataFrame(df1)
df2

    class1    class2
0    vijay     Sagar
1   Mandar  Kaustubh
2  Saurabh       raj
3    Tejas     Akash

In [10]:
df2.columns

Index(['class1', 'class2'], dtype='object')

In [13]:
df2.info

<bound method DataFrame.info of     class1    class2
0    vijay     Sagar
1   Mandar  Kaustubh
2  Saurabh       raj
3    Tejas     Akash>

In [14]:
df2.shape

(4, 2)

In [27]:
df2['class1']=df2['class1'].sort_values()

In [29]:
df2.shape[0]

4

# Special Prime
A prime number is said to be Special prime number if it can be expressed as the sum of three integer numbers: two neighboring prime numbers and 1. For example, 19 = 7 + 11 + 1, or 13 = 5 + 7 + 1. Note:- Two prime numbers are called neighboring if there are no other prime numbers between them

In [45]:
def prime():
    list1=[]
    for e in range(1,101):
        cnt=0
        for j in range(1,e//2+1):
            if e%j==0:
                cnt=cnt+1
        if cnt<2:
            list1.append(e)
    print(list1)
    
    tot=0
    spPrime=[]
    for h in range(len(list1)-1):
        tot=list1[h] + list1[h+1] + 1
        if tot in list1:
            spPrime.append(tot)
    print(spPrime)

In [46]:
a=prime()

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
[13, 19, 31, 37, 43, 53, 61, 79]

In [58]:
def prime():
    list1=[]
    for e in range(1,100):
        cnt=0
        for j in range(1,e//2+1):
            if e%j==0:
                cnt=cnt+1
        if cnt<2:
            list1.append(e)
    print(list1)
    
    tot=0
    spPrime={}
    for e in range(len(list1)-1):
        tot=list1[e]+list1[e+1]+1
        if tot in list1:
            spPrime[tot]=(list1[e],list1[e+1])
    print(spPrime)

In [59]:
a=prime()

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
{13: (5, 7), 19: (7, 11), 31: (13, 17), 37: (17, 19), 43: (19, 23), 53: (23, 29), 61: (29, 31), 79: (37, 41)}

In [1]:
x=[1,2,3]
y=[4,5,6]

print(x+y)

[1, 2, 3, 4, 5, 6]

In [14]:
import re
str1="vijay my name is pawar"

x1=re.findall(" ",str1)
list1=sorted(str1)

for e in range(len(x1)):
    list1.remove(" ")
print(list1)

['a', 'a', 'a', 'a', 'e', 'i', 'i', 'j', 'm', 'm', 'n', 'p', 'r', 's', 'v', 'w', 'y', 'y']

In [ ]:





636

In [1]:
str1="my name is vijay prabhakar pawar"
str2=sorted(str1)
str2.remove(" ")
str2

[' ',
 ' ',
 ' ',
 ' ',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'e',
 'h',
 'i',
 'i',
 'j',
 'k',
 'm',
 'm',
 'n',
 'p',
 'p',
 'r',
 'r',
 'r',
 's',
 'v',
 'w',
 'y',
 'y']

In [25]:
a=[(1,2),(3,4),(6,4)]
b=sorted(a)
for e in range(len(b)):
    print(sorted(b[e]))
    b[e]=sorted(b[e])
print(b)

[1, 2]
[3, 4]
[4, 6]
[[1, 2], [3, 4], [4, 6]]

Object `replace` not found.

In [27]:
from itertools import *
print(prod(range(1,10)))

NameError: name 'prod' is not defined

In [28]:
def solve(numheads,numlegs):
    ns='No solutions!'
    for i in range(numheads+1):
        j=numheads-i
        if 2*i+4*j==numlegs:
            return i,j
    return ns,ns

In [29]:
solve(35,94)

(23, 12)

lease write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"]

In [6]:
from itertools import permutations
li1= ["I", "You"] 
li2=["Play", "Love"] 
li3= ["Hockey","Football"]

for e in li1:
    for j in li2:
        for k in li3:
            print(e,j,k)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

lease write a program to shuffle and print the list [3,6,7,8].

In [8]:
from random import shuffle
list1 = [3,6,7,8]
shuffle(list1)
list1

[6, 3, 8, 7]

Please write a program to print the running time of execution of "1+1" for 100 times

2.973515900000166

In [17]:
li = [2,4,6,8,10]
for i in li:
    assert i%2==0

Please write a program which accepts basic mathematic expression from console and print the evaluation result.

In [1]:
in1=input("enter")

in2=eval(in1)
in2

enter35+6+12

53

In this question, You need to remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50

In [4]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

number_list =[ e for e in number_list if e <= 50 ]
number_list

[10, 20, 30, 40, 50]

In [11]:
li1=[(1,12,14), (1,2) , (90,3), (0,0) ]
li1.sort(key = lambda a : a[1])
print(li1)

# li2=sorted()
# li2

[(0, 0), (1, 2), (90, 3), (1, 12, 14)]

Using lambda and sorted() function, sort the list based on the remainder from dividing each element to 5 (From greater to smaller).

In [14]:
li1=[19, 28, 30, 40, 5, 66, 78, 87, 91, 107]
li1.sort(key = lambda x : x%5 )
li1

[30, 40, 5, 66, 91, 87, 107, 28, 78, 19]


Using lambda and sorted() function, sort the list based on last characters of the items from z to a.

In [17]:
list1=['vijaa','saurabh','mandar','sagaz','kaustubh']
list1.sort(key = lambda x : x[len(x)-1::1])
list1

['vijaa', 'saurabh', 'kaustubh', 'mandar', 'sagaz']

Using len function and sorted() function, sort the list of words based on the length of the strings (In ascending order).

In [21]:
list1=['vijaaaaaa','saurabh','mandar','sagaz','kaustubh']
list1.sort(key = lambda x : len(x))
list1

['sagaz', 'mandar', 'saurabh', 'kaustubh', 'vijaaaaaa']

Using list comprehension, construct a list from the squares of each element in the list, if the square is greater than 50.

In [26]:
list1=[2,8,7,9,5,6,4,3,10,12,11]

list2=list(map(lambda x : x, filter(lambda x:x**2 < 50,list1)))
list2

[2, 7, 5, 6, 4, 3]

Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list WAP comprehension

In [35]:
li1=[]
for e in range(1200,2001):
    li1.append(e)
print(li1[::130])

[1200, 1330, 1460, 1590, 1720, 1850, 1980]

In [52]:
d1 = {'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70}
l1 = ['A', 'C', 'F']

AttributeError: 'dict' object has no attribute 'split'

In [54]:
dir(d1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']